@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Circular STD';
        src: url('../public/font/CircularStd-Bold.woff') format('woff');
        /* Perbaiki format('.woff') menjadi format('woff') */
    }

    html{
        font-family:'inter';
    }
    

    h1 {
        font-family: 'Circular STD';
        /* Tambahkan tanda kutip di sekitar nama font */
    }
}
